/* ~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {

        .navbar {
            padding-inline: -1rem;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    header {
        padding-inline: 1.5rem;

        .navbar {
            ul {
                transform: translateY(calc(-100% - 56px));
                width: 100%;
                height: 100vh;
                position: fixed;
                gap: 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                top: 56px;
                left: 0;
                padding: 32px 12px;
                backdrop-filter: blur(10px);
                @include themify($themes) {
                    background-color: t('menuBg');
                }

                li {
                    font-weight: 600;
                    font-size: 1.2rem;
                    .night-mode-switch {
                        width: 48px ;
                        margin: 6px 12px 0 0;
                    }
                }
            }

            .hamburger {
                display: block;
            }
        }
    }

    .main {
        padding-inline: 1rem;

        .intro {
            text-align: center;
            padding-inline: 1.5rem;
        }
    }


    .backdrop-art:nth-child(1) {
        transform: scale(0.7) translate(10%, 10%);
        top: 0;
        left: 0;
    }

    .backdrop-art:nth-child(3) {
        transform: translate(-50vw, 100vh);
    }

    footer{
        margin-top: 10rem ;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        padding: 2rem 5rem;

        .logo {
            a {
                font-size: 2.5rem;
            }
        }
    }

    .main {
        padding-inline: 5rem;

        .intro {
            padding-left: 5rem;
            justify-content: flex-start;
        }

        .main-canvas-area {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .controls {
                padding-top: 3.5rem;
            }
        }
    }

    .details{
        margin-top: 0rem;

        section{
            margin: 2rem 5rem;
            width: 80%;

        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        padding-inline: 10rem;
    }

    main {
        padding-inline: 10rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~ END MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~ */