@import '../abstracts/variables';

// Night Mode 
$themes:(
    dark:(
        bgColor: $--clr-primary,
        mainBg: $--clr-primary-dark,
        textColor: $--clr-secondary,
        logoColor: $white,
        linkColor: $--clr-secondary-light,
        buttonBg: $--clr-primary-light,
        buttonText: $--clr-secondary ,
        buttonShadowOut: $--clr-primary-dark,
        buttonShadowIn: $--clr-primary-light,
        buttonBorder: $--clr-primary-dark,
        borderShadow: $--clr-secondary-dark,
        menuBg:$--clr-primary-dark,
        canvasBg: $--clr-primary-blur,
    ),

    light:(
        bgColor: $--clr-secondary,
        mainBg: $--clr-secondary-blur,
        textColor:$--clr-primary,
        logoColor: $black,
        linkColor: $--clr-primary-light,
        buttonBg: $--clr-secondary-light,
        buttonText: $--clr-primary,
        buttonShadowOut: $--clr-secondary-dark,
        buttonShadowIn: $--clr-secondary,
        buttonBorder: $--clr-secondary-dark,
        borderShadow: $--clr-secondary-dark,
        menuBg:$--clr-secondary-light,
        canvasBg:$--clr-secondary-blur,
    )
)