@import '../abstracts/variables';


/* ~~~~~~  background clip arts ~~~~~~~ */

.backdrop-art:nth-child(1) {
    width: 400px;
    height: 400px;
    // transform: ;
    transform: translate(30%, 70%);
    position: absolute;
    top: 1rem;
    left: 0rem;
    background: $--clr-blob-1;
    mix-blend-mode: normal;
    filter: blur(5rem);
    border-radius: 50%;
    z-index: -1;
    // transition: all 300ms ease ;
    // animation: animate1 10s ease-in-out  both;
}

.backdrop-art:nth-child(2) {
    width: 400px;
    height: 400px;
    // transform: ;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0rem;
    left: 0rem;
    background: $--clr-blob-2;
    mix-blend-mode: hard-light;
    filter: blur(5rem);
    border-radius: 50%;
    z-index: -1;
    // animation: animate1 10s ease-in-out  both;
}

.backdrop-art:nth-child(3) {
    width: 400px;
    height: 400px;
    // transform: ;
    transform: translate(85vw, 70vh);
    position: absolute;
    top: 1rem;
    left: 0rem;
    background: $--clr-blob-3;
    mix-blend-mode: hard-light;
    filter: blur(5rem);
    border-radius: 50%;
    z-index: -1;
    // animation: animate2 10s ease-in-out  both;
}

@keyframes animate1 {
    0% {
        width: 500px;
        height: 500px;
        left: 0rem;
    }

    50% {
        width: 250px;
        height: 250px;
        left: 30rem;
        top: 10rem;
    }

    100% {
        width: 500px;
        height: 500px;
        left: 0rem;
    }
}

@keyframes animate2 {
    0% {
        width: 400px;
        height: 400px;
        left: -0rem;
    }

    50% {
        width: 300px;
        height: 300px;
        left: -30rem;
        top: -25rem;
    }

    100% {
        width: 400px;
        height: 400px;
        left: -0rem;
    }
}