// @import '../abstracts/variables';

/* Resolution slider */
#range {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    

}

#range::-webkit-slider-runnable-track {
    height: 7px;
    background: #ccc;
    border-radius: 16px;
}

#range::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid $--clr-accent-1;
    box-shadow: -407px 0 0 400px $--clr-accent-1;
}

#range::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $--clr-accent-1;
    box-shadow: -407px 0 0 400px $--clr-accent-1;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 7px;
    background: #ccc;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-image: linear-gradient(45deg, $--clr-accent-1, $--clr-accent-2 );
    border-radius: 50%;
    border: none;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }
}

.slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-image: linear-gradient(45deg, $--clr-accent-1, $--clr-accent-2 );
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px $--clr-slider-shadow;
    
}

.slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px $--clr-slider-shadow;
}

.slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px $--clr-slider-shadow;
}

.slider::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px $--clr-slider-shadow;
}

.slider:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px $--clr-slider-shadow;
}

.slider:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px $--clr-slider-shadow;
}

/* End resolution slider */