
:root {
    $--clr-secondary: #1f1f1f;
    $--clr-secondary-light: #373737;
    $--clr-secondary-dark: #111111b7;
    $--clr-secondary-dark-2: #a1a1aa;

    $--clr-primary: #eeeeee69;
    $--clr-primary-light: #f8f8f8;
    $--clr-primary-dark: #969696;

}

@media (prefers-color-scheme: light) {
    :root {
        $--clr-secondary: #eeeeee;
        $--clr-secondary-light: #f8f8f8;
        $--clr-secondary-dark: #969696;
        $--clr-secondary-dark-2: #a1a1aa;

        $--clr-primary: #1f1f1f;
        $--clr-primary-light: #373737;
        $--clr-primary-dark: #111111b7;

    }
}

$--clr-accent-1 : #92FE9D;
$--clr-accent-2 : #00C9FF;
$--clr-accent-3 : #37b6ff;

$--clr-primary: #1f1f1f;
$--clr-primary-light: #373737;
$--clr-primary-dark: #111111ee;
$--clr-primary-blur: #1111117e;

$--clr-secondary: #eeeeee;
$--clr-secondary-light: #f8f8f8;
$--clr-secondary-dark: #969696;
$--clr-secondary-dark-2: #a1a1aa;
$--clr-secondary-blur: #eeeeee60;

/* Other variables */
$black: black;
$white: white;

$radius : 10px;
$radius-round: 50%;

$--clr-blob-1: #22a6f28f;
$--clr-blob-2: #ff008c8f;
$--clr-blob-3: #af37f58f;

$--clr-slider-shadow: rgba(0, 225, 255, 0.1);