// @import '../abstracts/variables';


footer{
    position: sticky;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    height: 56px;
    width: 100vw;
    @include themify($themes){
        background-color: t('bgColor');
        color: t('borderShadow');
        box-shadow: 0px -1px 1px 0px t('borderShadow');
    }

    .footer-wrapper{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .footer-text{
            text-align: center;
            font-weight: 600;
        }
    }
}