

header {
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    backdrop-filter: blur(130px);
    z-index: 9999;
    @include themify($themes) {
        background-color: t('bgColor');
        box-shadow: 0px 1px 1px 0px t('borderShadow');
        }
    // border-bottom: $--clr-secondary-dark 1px solid;

    .logo {
        z-index: 9999;
        margin-left: 12px;

        a {
            text-decoration: none;
            font-family: "Style Script", cursive;
            font-size: 2.5rem;
            font-weight: 600;
            letter-spacing: 3px;
            
            // background-image: linear-gradient(45deg, $--clr-accent-1, $--clr-accent-2 );
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            @include themify($themes) {
                background-color: t('logoColor');
                }
        }
    }

    .navbar {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 24px;
            transition: all 500ms ease;
            z-index: 0;

            li {
                width: 100%;
                padding-inline: 12px;

                a {
                    display: inline-block;
                    width: 100%;
                    padding: 6px 12px;
                    text-decoration: none;
                    border-radius: $radius;
                    transition: all 500ms ease;
                    @include themify($themes) {
                        color: t('textColor');
                        }

                }

                &:hover {
                    opacity: 0.75;
                    // transform: scale(1.05);
                }

                .night-mode-switch {
                    display: inline-block;
                    width: 40px;
                    padding: 12px;
                    text-decoration: none;
                    border-radius: $radius;
                    transition: all 500ms ease;
                    @include themify($themes){
                        box-shadow: 0px 0px 1px 1px t('buttonShadowOut'), inset 0px 0px 5px 5px t('buttonShadowIn');

                        &:active{
                        border: 2px solid t('buttonBorder');
                        
                        }
                    }

                }
            }
        }

        .menu-icon {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, 10%);
            padding: 6px 8px;
            font-size: 1.7rem;
            border-radius: $radius;
            @include themify($themes){
                color: t('buttonText');
    
                &:hover {
                    background: t('buttonBg');
                }
            }
        }
    }
}

/** Hamburger Menu **/
.navbar {
    .cross.open {
        display: block;
    }

    .hamburger.open {
        display: none;
    }

    ul.open {
        transform: translateY(0%);
        height: 100vh;

    }
}